<div class="row">
    <div class="col-md-6 offset-md-3 card card-body bg-light">

        <h2>New Person</h2>
        <form method="post" action="/home/addperson">
            <input class="form-control" type="text" name="firstName" placeholder="First Name" />
            <br />
            <input class="form-control" type="text" name="lastName" placeholder="Last Name" />
            <br />
            <input class="form-control" type="text" name="age" placeholder="Age" />
            <br />
            <button class="btn btn-primary">Add Person</button>
        </form>
    </div>
</div>